@{
    ViewData["Title"] = "Отзывы";
}

<div class="row" style="display: flex; justify-content: center;">

    <div class="card crd">
        <img src="https://st2.depositphotos.com/2619031/6870/i/600/depositphotos_68709163-stock-photo-defocused-pastel-bokeh-background-blurred.jpg" class="card-img-top" alt="..." style=" height: 95%; width: 100%; margin-top: auto; margin-bottom: auto;">

    </div>

    <div class="card crd">
        <img src="https://st2.depositphotos.com/2619031/6870/i/600/depositphotos_68709163-stock-photo-defocused-pastel-bokeh-background-blurred.jpg" class="card-img-top" alt="..." style=" height: 95%; width: 100%; margin-top: auto; margin-bottom: auto;">

    </div>

    <div class="card crd">
        <img src="https://st2.depositphotos.com/2619031/6870/i/600/depositphotos_68709163-stock-photo-defocused-pastel-bokeh-background-blurred.jpg" class="card-img-top" alt="..." style=" height: 95%; width: 100%; margin-top: auto; margin-bottom: auto;">

    </div>

    <div class="card crd">
        <img src="https://st2.depositphotos.com/2619031/6870/i/600/depositphotos_68709163-stock-photo-defocused-pastel-bokeh-background-blurred.jpg" class="card-img-top" alt="..." style=" height: 95%; width: 100%; margin-top: auto; margin-bottom: auto;">

    </div>

    <div class="card crd">
        <img src="https://st2.depositphotos.com/2619031/6870/i/600/depositphotos_68709163-stock-photo-defocused-pastel-bokeh-background-blurred.jpg" class="card-img-top" alt="..." style=" height: 95%; width: 100%; margin-top: auto; margin-bottom: auto;">

    </div>

    <div class="card crd">
        <img src="https://st2.depositphotos.com/2619031/6870/i/600/depositphotos_68709163-stock-photo-defocused-pastel-bokeh-background-blurred.jpg" class="card-img-top" alt="..." style=" height: 95%; width: 100%; margin-top: auto; margin-bottom: auto;">

    </div>

    <div class="card crd">
        <img src="https://st2.depositphotos.com/2619031/6870/i/600/depositphotos_68709163-stock-photo-defocused-pastel-bokeh-background-blurred.jpg" class="card-img-top" alt="..." style=" height: 95%; width: 100%; margin-top: auto; margin-bottom: auto;">

    </div>

    <div class="card crd">
        <img src="https://st2.depositphotos.com/2619031/6870/i/600/depositphotos_68709163-stock-photo-defocused-pastel-bokeh-background-blurred.jpg" class="card-img-top" alt="..." style=" height: 95%; width: 100%; margin-top: auto; margin-bottom: auto;">

    </div>

    <div class="card crd">
        <img src="https://st2.depositphotos.com/2619031/6870/i/600/depositphotos_68709163-stock-photo-defocused-pastel-bokeh-background-blurred.jpg" class="card-img-top" alt="..." style=" height: 95%; width: 100%; margin-top: auto; margin-bottom: auto;">

    </div> 
</div>