@{
    ViewData["Title"] = "Контакты";
}

<h1 class="text-center">Мы находимся в Гомеле по адресу улица Текстильная, дом 3а.</h1>

<div class="contacts">
    <div id="dir" style="border-bottom: 1px solid #6283dc;">
        <p>Директор - <strong>Ситников Игорь Сергеевич</strong></p>
        <p style="margin-bottom: 0">+375 (232) 29-33-09 <br>+375 (29) 656-63-74 <br>E-mail: bgms2001@mail.ru <br></p>
    </div>
    <div id="zamdir" style="border-bottom: 1px solid #6283dc;">
        <p>Специалист по сервису и внешней кооперации - <strong>Игнатович Дмитрий Владимирович</strong></p>
        <p style="margin-bottom: 0">+375 (232) 29-33-06 <br>+375 (29) 345-42-78 <br>E-mail: bgms2001@mail.ru <br></p>
    </div>
    <div id="zamdir" style="border-bottom: 1px solid #6283dc;">
        <p>Инженер-конструктор - <strong>Монахов Евгений Александрович</strong></p>
        <p style="margin-bottom: 0">+375 (25) 525-78-54 <br>E-mail: bgms2001@mail.ru <br></p>
    </div>
</div>
    <div class="maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2430.907249151193!2d30.943437916023804!3d52.46270717980343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8607c17de60100d2!2z0JHQtdC70LPQuNC00YDQvtC80LDRiA!5e0!3m2!1sru!2sby!4v1618645102054!5m2!1sru!2sby" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" id="map"></iframe>
        <div>
            <p>График работы:</p>
            <p>пн-пт: 08:00 - 19:20</p>
            <p>сб-вк: выходной</p>
        </div>
    </div>
